global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - "alert.rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: "pusk-backend"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["client-backend:8080"]
